h1 {
  background-color: wheat;
}

.heading {
  background-color: aquamarine;
}

#css {
  background-color: red;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}